
<div class="bar bar-footer bar-dark">
      <a class="button button-icon icon ion-plus"  id="footerBtn" ng-click="AddNewPage()"><p>חדש</p></a>
      <a id="footerBtn" class="button button-icon icon ion-clipboard" ng-click="sortArray('4')"><p>הכל</p></a>
      <a id="footerBtn" class="button button-icon icon ion-alert-circled" ng-click="sortArray('3')"><p>לא נקרא</p></a>
      <a id="footerBtn" class="button button-icon icon ion-ios-plus-outline" ng-click="sortArray('2')"><p>חדשים</p></a>
      <a id="footerBtn" class="button button-icon icon ion-ios-circle-filled" ng-click="sortArray('1')"><p>אפסים</p></a>
      <a id="footerBtn" class="button button-icon ion-share" ng-click="ReversArray()"><p>הפוך</p></a>
  </div>	


<ion-view class="layouts-view">
 
  <ion-nav-title>
  <a href="#/app/main" style="text-decoration:none;">
    <span style="direction:rtl">נקראו {{readCalls}} מתוך {{TotalCalls}}</span>
	</a>
  </ion-nav-title>
  
  <div class="bar bar-subheader" style="height:77px;">
      <div class="row" style="margin-top:-20px;">
        <div class="col col-80">
             <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <!-- focus-me="shouldBeOpen" -->
                <input type="tel"   style="direction:rtl;" ng-model="searchCalls" placeholder="חיפוש...">
              </label>
            </div>
        </div>
        <div class="col col-10" style="margin-top:23px; margin-left:-10px;" >
           <i class="icon ion-social-angular-outline" ng-click="setFocusForSearch()" style="font-size:35px; color:#09F;"></i>
        </div>
        <div class="col col-10" style="margin-top:23px; margin-left:5px;" ng-click="statsModal()">
            <i class="icon ion-pie-graph" style="font-size:35px; color:red;"></i>
        </div>
    </div>
	</div>


 <ion-content ng-controller="CallsCtrl" class="has-subheader" style="margin-top:30px"> 
 

 <!-- <div class="row" align="center" style="">
	
    	<div class="col col-50"  ui-sref="app.export">
			<a class="button icon-right ion-close button-calm"  style="width:100%;">יצוא נתונים</a>
        </div>
        <div class="col col-50" ng-click="statsModal()">
			<a class="button icon-right ion-checkmark button-calm" style="width:100%;">סטטיסטיקה</a>
        </div>
</div> -->


  
<a href="#/app/clock/{{$index}}" class="row item"  style="white-space:normal !important;  padding:10px 0 10px 0;" ng-repeat="row in calls | filter:searchCalls | filter:searchArray():true">
  	
    <div class="col col-30">
      <div ng-switch on="row.status">
       		<span ng-switch-when="1"><button class="button icon-right ion-android-done-all button-positive" style="width:70%" >נקרא</button></span>
       		<span ng-switch-default><button class="button icon-right ion-android-cancel button-balanced" style="width:100%" >לא נקרא</button></span>
      </div>
    </div>
    <div class="col col-60" ng-switch on="row.status">
        <p ng-switch-when="1"; style="text-align:right; color:red;">{{row.customerName}}</p>
        <p ng-switch-default style="text-align:right; color:black;">{{row.customerName}}</p>
        <p ng-switch-when="1" style="text-align:right; color:red;">מספר שעון: {{row.waterclock_identifier}} </p>
        <p ng-switch-default style="text-align:right; color:black;">מספר שעון: {{row.waterclock_identifier}} </p>
    </div>
    <!-- <div class="col col-25" style="text-align:right; font-size:10px;">{{row.start_date}}</div> -->
    <div class="col col-10"  ng-switch on="row.status">
    	<i ng-switch-when="1"; class="icon ion-information-circled" style="color:red"></i>
        <i ng-switch-default class="icon ion-information-circled" style="color:black"></i>
    </div>
</a>



<div style="padding-top:100px;">
</div>
<!--
<div class="bar bar-footer" align="center" style="position:fixed; bottom:0">


	 <div class="row" align="center" style="font-size:9px;">
	
			<div class="col col-30" ng-click="AddNewPage()">
			<a class="button icon-right ion-plus button-calm" style="width:100%;"></a>
        </div>
		
			<div class="col col-30" ng-click="sortArray('4')">
			<a class="button icon-right  button-calm" style="width:100%;">הכל</a>
        </div>
		
		
			<div class="col col-30" ng-click="sortArray('3')">
			<a class="button icon-right  button-calm" style="width:100%;">נקרא</a>
        </div>
		
		
		 <div class="col col-30" ng-click="sortArray('2')">
			<a class="button icon-right  button-calm" style="width:100%;">חדש</a>
        </div>
		
		 <div class="col col-30" ng-click="sortArray('1')">
			<a class="button icon-right button-calm" style="width:100%;">אפסים</a>
        </div>
		
		
		 <div class="col col-30" ng-click="ReversArray()">
			<a class="button icon-right  button-calm" style="width:100%;">הפוך</a>
        </div>
		
		

		
		
		
</div>-->





</div>




		


  </ion-content>
</ion-view>
