<ion-view class="layouts-view">
 
  <ion-nav-title>
  <a href="#/app/main" style="text-decoration:none;">
    <span>iWater Water Calls</span>
	</a>
  </ion-nav-title>
 <ion-content ng-controller="CallsCtrl"> 
 

 <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" style="direction:rtl;" ng-model="searchCalls" placeholder="חיפוש...">
  </label>
</div>
 <div class="row" align="center" style="margin-top:-15px;">
	
    	<div class="col col-50" ng-click="allTasksBtn()">
			<a class="button icon-right ion-close button-positive" style="width:100%;">לא קריא : 55</a>
        </div>
        <div class="col col-50" ui-sref="app.notifications">
			<a class="button icon-right ion-checkmark button-calm" style="width:100%;">תקין : 212</a>
        </div>
</div>
<div class="row" align="center" style=" padding-bottom:20px;">
        <div class="col col-50" ui-sref="app.export">
			<a class="button icon-right ion-wrench button-balanced" style="width:100%;">שבור : 12</a>
        </div>
        <div class="col col-50" ui-sref="app.import">
			<a class="button icon-right ion-alert-circled button-assertive"  style="width:100%;">אין גישה : 32</a>
        </div>
    
</div>
  
<a href="#/app/clock/{{row.id}}" class="row item"  style="white-space:normal !important;  padding:10px 0 10px 0;" ng-repeat="row in calls | filter:searchCalls">
  	
    <div class="col col-30">
      <div ng-switch on="row.status">
       		<span ng-switch-when="1"><button class="button icon-right ion-android-done-all button-positive" style="width:70%" >נקרא</button></span>
       		<span ng-switch-default><button class="button icon-right ion-android-cancel button-balanced" style="width:70%" >לא נקרא</button></span>
      </div>
    </div>
    <div class="col col-60">
        <p style="text-align:right">{{row.custumer}}</p>
        <p style="text-align:right">מספר שעון: {{row.clock_number}} </p>
    </div>
    <!-- <div class="col col-25" style="text-align:right; font-size:10px;">{{row.start_date}}</div> -->
    <div class="col col-10"><i class="icon ion-information-circled"></i></div>
</a>




  </ion-content>
</ion-view>
