<div class="bar bar-footer bar-dark">
      <a id="footerBtn6" class="button button-icon icon ion-android-exit" ui-sref="app.export"><p>יצא</p></a>
      <a id="footerBtn6" class="button button-icon icon ion-android-download" ui-sref="app.import"><p>יבא</p></a>
      <a id="footerBtn6" class="button button-icon icon ion-clipboard" ng-click="allTasksBtn()"><p>משימות</p></a>
      <a id="footerBtn6" class="button button-icon icon ion-speakerphone" ui-sref="app.notifications"><p>הודעות</p></a>
  </div>	




<ion-view class="layouts-view">

  <ion-nav-title>
  <a href="#/app/main" style="text-decoration:none;">
    <span>iWater</span>
	</a>
  </ion-nav-title>
 <ion-content> 
  <div class="row">
  <div class="col col-20">
  	<div ng-click="allTasksBtn()" style="width:40px; cursor:pointer;  background-color:{{''|getCurrentColor}}; border-radius:20px; text-align:center; padding:10px;">
    	<span style="padding-top:10px; padding-left:0px; color:white; font-weight:bold; text-align:center;" >{{alertnumber}}</span>
    </div>
  </div>
  <div class="col col-80">
      <div style="direction:rtl; text-align:right; font-size:25px;">שלום {{fullname}}</div>
      <div style="text-align:right; padding-top:14px; padding-bottom:4px; "> יש1 לך {{alertnumber}} משימות חדשות </div>
  </div>
  
    
  
  </div>
  
  
  <a href="#/app/calls/{{row.id}}" class="row item"  style="white-space:normal !important; padding:10px 0 10px 0;" ng-repeat="row in watches | limitTo:quantity">
      <div class="col col-25" style="padding-top:13px; padding-left:13px;" ><i class="icon ion-chevron-left"></i></div>
      <div class="col col-50" style="text-align:right;">{{row.title}}</div><!-- {{row.mission_num}} -->
      <div class="col col-10"><div class="colorsBtn" style="background-color:{{''|getCurrentColor}}">3</div></div>
      <div class="col col-25" style="text-align:center; padding-right:30px; font-size:12px; padding-top:8px;">{{ row.start_date | getCurrentDate }}</div>
  </a>

  </ion-content>
</ion-view>
