<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
       <button class="button button-icon button-clear ion-navicon" 
            menu-toggle="left">
       </button>
      </ion-nav-buttons>
    </ion-nav-bar>
   

   
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
	
  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item item-avatar " nav-clear menu-close ui-sref="app.profile">
           <h2 class="greeting">Iwater {{fullname}}</h2>
          <p class="message">ברוכים הבאים</p>
          <div class="user-image-container ">
            <pre-img ratio="_1_1" helper-class="rounded-image">
             <img class="user-image" ng-src="img/logo.jpg" spinner-on-load> 
          	</pre-img>
          </div>
         
        </ion-item>
		
		  <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.main">
          <i class="icon ion-home"></i>
          <h2 class="menu-text" style="text-align:right">ראשי</h2>
        </ion-item>

		<ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.tasks">
          <i class="icon ion-clipboard"></i>
          <h2 class="menu-text" style="text-align:right">משימות</h2>
        </ion-item>
		
		<ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.notifications">
          <i class="icon ion-email"></i>
          <h2 class="menu-text" style="text-align:right">הודעות</h2>
        </ion-item>
		
		<ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.import">
          <i class="icon ion-android-download"></i>
          <h2 class="menu-text" style="text-align:right">יבא נתונים</h2>
        </ion-item>
		
		<ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.export">
          <i class="icon ion-android-exit"></i>
          <h2 class="menu-text" style="text-align:right">יצא נתונים</h2>
        </ion-item>
        <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.settings">
          <i class="icon ion-gear-a"></i>
          <h2 class="menu-text" style="text-align:right">הגדרות</h2>
        </ion-item>

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
