  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">עדכונים נתונים</h1>
	  <div class="buttons">
      <button class="button button-clear" ng-click="showMoreinfoClose()">סגירה</button>
    </div>
    </ion-header-bar>
    <ion-content>
      
		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">שם לקוח : </span> {{customname}} </div>
	</div>
	
	

		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">מספר שעון : </span> {{clockid}} </div>
	</div>

		<div class="item" style="text-align:right">
			<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">מספר מד : </span> {{clockid}} <a ng-click="takePicture()" class="button button-icon icon ion-camera"></a>
		</div>
	</div>	
	<!--
		<div class="item" style="text-align:right"> 
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">קריאה קודמת : </span> {{prevcall}} </div>
	</div>
	
	
		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">צריכה : </span> {{consumption}}</div>
	</div>
	
	-->

	<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">סדר הליכה : </span> {{walking_meter}} </div>
	</div>	
	

	<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">כתובת : </span> {{address}} </div>
	</div>



		
		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">הערות מיקום: </span> </div>
		<textarea rows="4" cols="30" ng-model="fields.address_remarks" style="direction:rtl;"></textarea>
	</div>
	
		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">הערות נוספות: </span></div>
		<textarea rows="4" cols="30" ng-model="fields.further_remarks" style="direction:rtl;"></textarea>
	</div>
	
	<button class="button button-full button-positive" ng-click="saveInfo()">שמירה</button>


    </ion-content>
  </ion-modal-view>
