<ion-view class="layouts-view">

  <ion-nav-title>
  <a href="#/app/main" style="text-decoration:none;">
    <span>iWater</span>
	</a>
  </ion-nav-title>
 <ion-content ng-controller="ReadNotificationCtrl"> 

  <!--
   <div class="col col-80" align="right" ng-click="refresh()">
		<button class="button ion-loop button-royal">
		  Refresh
		</button>
  </div>
  -->
  <div style="padding-top:10px;"></div>
  
<div class="card" style="direction:rtl;">
  <div class="item item-divider">
    {{title}}
  </div>
  <div class="item item-text-wrap">
    {{text}}
  </div>
 
</div>


<!-- <div class="bar bar-footer" style="float:right; text-align:right; position:relative; bottom:30px;">
  <div><button class="button button-clear pull-right" ng-click="allTasksBtn()"><i class="icon ion-clipboard"></i> משימות</button></div>
  <div><button class="button button-clear pull-right" ng-click="notificationsBtn()"><i class="icon ion-speakerphone"></i> הודעות חדשות</button></div>
</div> -->

<div class="row" align="center" style="padding-top:20px;">
	
    	<div class="col col-30" ng-click="allTasksBtn()">
			<a class="button icon-right icon ion-clipboard button-positive" style="width:100%;">משימות</a>
        </div>
		<!--
        <div class="col col-50" ng-click="notificationsBtn()">
			<a class="button icon-right icon ion-speakerphone button-calm" style="width:100%;">הודעות</a>
        </div>
		-->
</div>
<div class="row" align="center">
        <div class="col col-30" ui-sref="app.export">
			<a class="button icon-right ion-android-exit button-balanced" style="width:100%;">יצא נתונים</a>
        </div>
        <div class="col col-30" ui-sref="app.import">
			<a class="button icon-right ion-android-download button-assertive"  style="width:100%;">יבא נתונים</a>
        </div>
    
</div>

  </ion-content>
</ion-view>
